{ 
  "plugins": [
    "security"
  ],
  "extends": [
    "plugin:security/recommended"
  ],
  "parserOptions": { 
    "sourceType": "module", // suppress warning on "import" as a reserved word
    "ecmaVersion": 8, // suppress warning on unexpected token "async" 
    "ecmaFeatures": {
      "jsx": true, // suppress jsx warnings (eg unexpected token "<") in react components
      "spread": true // suppress warnings related to ... spread operator e.g.: const objCopy = {...objOriginal}
    }
  } 
}