.forgot__password__container {
  position: relative;
}

.red__button {
  background: #e76c67;
  border: 1px solid #e76c67;
}

button.button.close__button {
  display: flex;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  height: 38px;  
  width: 20px;
  z-index: 10;
}
