.guest__options {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
}

.button.guest__option {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest__option > h4 {
  padding: 2px;
}

.guest__option > div {
  position: absolute;
  right: 5px;
}

.guest__option__active {
  /* transform: scale(1.025); */
}

.guest__option__active:before {
  content: '>';
}

.guest__option > img.svg {
  border: 1px solid var(--textColorTwo);
}

.guest__option > h2 {
  text-align: center;
}