.home__actions__container {
  max-width: 750px;
  margin: 0 auto;
  padding: 5px;
}

.card.home__actions {
  display: flex;
  flex-direction: row;
  /* border-radius: 5px; */
  justify-content: space-between;
  /* align-items: center; */
  height: calc((100vh - 150px) / 6);
  transition: all 0.3s ease;
}

.card.home__actions > p {
  flex-grow: 1;
}

.card.home__actions:focus,
.card.home__actions:focus-within,
.card.home__actions:hover {
  transform: scale(1.02);
}