.home__actions__container {
  max-width: 750px;
  margin: 0 auto;
}

.home__actions {
  margin: 5px;
  padding: 16px 10px;
  border: none;
  background: var(--backgroundLayerTwo);
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px -3px var(--backgroundLayerTwo);
}

.home__actions:focus,
.home__actions:focus-within,
.home__actions:hover {
  transform: scale(1.02);
  box-shadow: 0px 1px 9px -7px var(--backgroundLayerFour);
}

.home__actions > input, 
.home__actions > h4 {
  margin: 0 auto;
  width: 85%;
  padding: 0;
}

.home__actions > h4,
.search__main > form {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .search__main > div {
  flex-grow: 5;
} */