*, html {
  font-size: 10px;
  box-sizing: border-box;
  --buttonBlue: #004C7D;
  --buttonTextWhite: #EFDEFD;
}

.dark {
  --backgroundLayerOne: #191919;
  --backgroundLayerTwo: #252525;
  --backgroundLayerThree: #545454;
  --backgroundLayerFour: #898989;
  --textColorOne: #EFEFEF;
  --textColorTwo: #BCBCBC;
}

.light {
  --backgroundLayerOne: #EFEFEF;
  --backgroundLayerTwo: #DDDDDD;
  --backgroundLayerThree: #BABABA;
  --backgroundLayerFour: #A9A9A9;
  --textColorOne: #232323;
  --textColorTwo: #232323;
}

*,
html,
body, 
a,
ul li {
  color: var(--textColorOne);
}

li::before {
  content: "•"; 
  color: var(--buttonBlue);
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

h1, h2, h3, h4, h5 {
  font-size: 1.45rem;
  padding: 15px;
  padding-bottom: 2px;
}

h1 {
  padding: 15px;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  /* text-transform: uppercase; */
  border-bottom: 3px solid var(--textColorTwo);
}

h3 {
  border-bottom: 1px dotted var(--textColorTwo);
}

img, svg {
  fill: var(--textColorOne);
  width: 40px;
  height: 40px;
}

textarea {
  min-height: 80px;
}

textarea {
  padding: 8px;
}

label {
  padding: 10px 0;
  display: block;
}

.inner {
  padding: 3px;
  padding-bottom: 56px;
  margin: 0 auto;
  background: var(--backgroundLayerOne);
  /* ~54px title + ~55px bottom-nav */
  min-height: calc(100vh - 99px);
}

.inner--flashes {
  padding: 0;
}

input, select, textarea, .button {
  width: 100%;
  background: var(--backgroundLayerTwo);
  border: 1px solid var(--backgroundLayerOne);
  padding-left: 8px;
  height: 40px;
  /* border-radius: 5px; */
}

.card {
  position: relative;
  padding: 12px;
  max-width: 900px;
  margin: 10px auto;
  background: var(--backgroundLayerThree);
  border: 1px solid var(--backgroundLayerTwo);
  box-shadow: 2px 4px 25px var(--backgroundLayerOne);
}

.button {
  justify-content: center;
  align-content: center;
  align-items: center;
  display: block;
  font-size: 1rem;
  margin: 0.25rem auto;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  color: var(--buttonTextWhite);
  background-color: var(--buttonBlue);
  border: 1px solid lighten(var(--buttonBlue), 50%);
  font-family: 'Panama';
}

.input--error {
  border-color: red;
}

.no__log,
.no__todos,
.no__vehicle {
  display: grid;
  padding: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/add.svg') 99% / 6% no-repeat var(--backgroundLayerTwo);
}

@media all and (min-width: 768px) {
  select {
    background: url('../images/add.svg') 99% / 4% no-repeat var(--backgroundLayerTwo);
  }
  /* body * {
    font-size: 1.4rem;
  }   */
}

@media all and (min-width: 900px) {
  select {
    background: url('../images/add.svg') 99% / 4% no-repeat var(--backgroundLayerTwo);
  }
  /* body * {
    font-size: 1.5rem;
  }   */
}

@media all and (min-width: 1200px) {
  select {
    background: url('../images/add.svg') 99% / 4% no-repeat var(--backgroundLayerTwo);
  }
  /* body * {
    font-size: 1.6rem;
  }   */
}

@media all and (min-width: 1920px) {
  select {
    background: url('../images/add.svg') 99% / 4% no-repeat var(--backgroundLayerTwo);
  }
  /* body * {
    font-size: 1.7rem;
  }   */
}

select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}