*, html {
  font-size: 12px;
  box-sizing: border-box;
}

.dark {
  --backgroundLayerOne: #000000;
  --backgroundLayerTwo: #151515;
  --backgroundLayerThree: #252525;
  --backgroundLayerFour: #454545;
  --backgroundLayerFive: #898989;
  --textColorOne: #E8E8E8;
  --textColorTwo: #AAAAAA;
  --textColorThree: #DDDDDD;
}

.light {
  --backgroundLayerOne: #DEFDEF;
  --backgroundLayerTwo: #DDDDDD;
  --backgroundLayerThree: #BBABBA;
  --backgroundLayerFour: #A9A9A9;
  --backgroundLayerFive: #888888;
  --textColorOne: #111111;
  --textColorTwo: #666666;
  --textColorThree: #EFEFEF;
}

body {
  font-size: 1.2rem;
  background: var(--backgroundLayerOne);
}

body, 
a {
  color: var(--textColorOne);
}

h2, h3, h4, h5 {
  padding: 7px;
  margin: 7px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  border-bottom: 1px solid var(--textColorOne);
}

.inner {
  padding: 3px;
  padding-bottom: 56px;
  margin: 0 auto;
  background: var(--backgroundLayerFour);
  /* ~40px title + ~55px bottom-nav */
  min-height: calc(100vh - 45px);
}

.inner--flashes {
  padding: 0;
}

img, svg {
  fill: var(--textColorOne);
  width: 40px;
  height: 40px;
}

input, select, textarea, .button {
  background: var(--backgroundLayerFive);
  width: 100%;
  border: 1px solid var(--backgroundLayerFive);
  padding-left: 8px;
  height: 40px;
  border-radius: 5px;
}

.button {
  cursor: pointer;
  border: 0;
  color: var(--textColorThree);
  background-color: #004c7d;
  border: 1px solid #004c7d;
  font-family: 'Panama';
  font-weight: 600;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.input--error {
  border-color: red;
}

textarea {
  min-height: 80px;
}

textarea {
  padding: 8px;
}

label {
  padding: 10px 0;
  display: block;
}

.card {
  background: var(--backgroundLayerTwo);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -3px var(--backgroundLayerThree);
  max-width: 900px;
  margin: 10px auto
}

.card > h2 {
  border-bottom: 1px solid var(--textColorTwo);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/add.svg') 99% / 6% no-repeat var(--backgroundLayerFive);
}

@media all and (min-width: 768px) {
  select {
    background: url('../images/add.svg') 99% / 4% no-repeat var(--backgroundLayerFive);
  }
}

select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}