.card.log__entry {
  margin: 1.5rem auto;
}

.log__entry > a > h5 {
  margin: 1px 1px 2px 1px;
  padding: 0;
  text-decoration: underline;
}

.log__details__container {
  display: flex;
}

.log__details__container > * {
  border-left: 1px solid var(--backgroundLayerTwo);
}

.log__details {
  display: flex;
  flex-direction: column;
  height: 60px;
  padding: 1px 3px;
}

.log__details__service {
  flex-basis: 50%;
  border-left: none;
  text-overflow: ellipsis;
}

.log__details__dates {
  flex-basis: 18%;
}

.log__details__mileage {
  flex-basis: 20%;
}

.log__details__costs {
  flex-basis: 12%;
}
