.log__sorter__container {
  display: flex;
}

.log__sorter__container > * {
  border-left: 1px solid #333;
}

.log__sorter__item {
  padding: 3px; 
}

.log__sorter__item > span {
  border-bottom: 1px solid #EEE;
}

.log__sorter__service {
  flex-basis: 64%;
  border-left: none;
}

.log__sorter__dates {
  flex-basis: 16%;
}

.log__sorter__mileage {
  flex-basis: 10%;
}

.log__sorter__costs {
  flex-basis: 10%;
}
