.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  background: #333;
  /* background: $black; */
  padding: 1px;
  transition: transform 0.25s;
}

.navLink {
  background: #111;
  /* background: $navBlack; */
  min-height: 20px;
  margin: 1px;
  border-radius: 5px;
}

.navLink > h5 {
  visibility: collapse;
  display: none;
}

.navLink:hover,
.navLink--active {
  background: linear-gradient(90deg, #48ded4 0%, hsla(219, 93%, 48%, 1) 10%, #3bae37 100%) fixed;
}

.navLink:hover > img {
  transform: scale(0.6);
}

.navLink:hover > h5 {
  visibility: visible;
  display: block;
}

.nav > a,
.nav > div > a {
  color: #eee;
  /* color: $navText; */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 4px 0;
  /* margin-right: calc(50vw - 105px); */
}

a.navLink > img,
a.navLink > img > g {
  fill: #eee;
  /* fill: $navText; */
  margin: 1px;
  width: 30px;
  height: 30px;
}

@media all and (min-width: 550px) {
  nav.nav {
    grid-template-columns: repeat(6, 1fr);
  }
  a.navLink > img,
  a.navLink > img > g {
    max-width: 40px;
    max-height: 40px;
  }
  .nav > a,
  .nav > div > a {
    flex-direction: column;
  }
}

@media all and (min-width: 768px) {
  a.navLink > img,
  a.navLink > img > g {
    max-width: 45px;
    max-height: 45px;
    padding: 4px;
    margin: 2px;
  }
}

@media all and (min-width: 1200px) {
  .nav > a,
  .nav > div > a {
    flex-direction: row;
  }
}
