.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  background: var(--backgroundLayerTwo);
}

.card.navLink {
  background: var(--backgroundLayerThree);
  margin: 0.1rem !important;
  padding-top: 1rem !important;
  color: var(--buttonBlue);
  fill: var(--buttonBlue);
}

.card.navLink:hover,
.card.navLink--active {
  background: linear-gradient(90deg, #48ded4 0%, hsla(219, 93%, 48%, 1) 10%, #3bae37 100%) fixed;
  color: var(--buttonTextWhite);
}

.card.navLink:hover *,
.card.navLink--active * {
  color: var(--buttonTextWhite);
  fill: var(--buttonTextWhite);
}

.nav a,
.nav h5 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* a.navLink > img,
a.navLink > img > g {
  fill: var(--buttonBlue);
} */
