.search__results {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.search__result {
  margin: 5px 0 0 0;
  background: #111111;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  color: #AAA;
}

.search__result__buttons > .button {
  margin: 0;
  margin-left: 5px;
}