.vehicleHeader {
  margin: 1px;
  padding: 7px;
  display: flex;
  flex-direction: column;
}

.vehicle__details__update {
  margin: 1px;
  padding: 4px;
  padding-left: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

.checkboxes__container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  align-content: center;
  padding: 10px 0;
}

.checkboxes__container > label {
  align-self: center;
}

.vehicleResults {
  display: flex;
  flex-direction: column;
}